<div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="page-header">
        <h1>
          {{foodtruck.name}}
        </h1>
      </div>
    </div>
  </div>
  
  <div class="row" ng-repeat="review in foodtruck.reviews">
    <div class="col-md-6 col-md-offset-3 post-card">
  
      <h4>Show Reviews</h4>
  
    </div>
  </div>
  
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <form ng-submit="addReview()" ng-show="isLoggedIn()">
        <h3>Add a new comment</h3>
  
        <div class="form-group">
          <input type="text" class="form-control" ng-model="body" placeholder="Comment"/>
        </div>
  
        <button type="submit" class="btn btn-primary">Post</button>
      </form>
      <div ng-hide="isLoggedIn()">
        <h3>You need to <a href="/#/login">Log In</a> or <a href="/#/register">Register</a> before you can add a post.</h3>
      </div>
    </div>
  </div>
  