<div ng-show="isLoggedIn()">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="page-header">
                <h1>
                    Edit {{foodtruck.name}}
                </h1>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <form ng-submit="editFoodtruck()" ng-show="isLoggedIn()">

                <div class="form-group">
                    <label for="name">Name:</label>
                    <input type="text" id="name" class="form-control" ng-model="name" placeholder="Name" ng-init="name = foodtruck.name" />
                </div>
                <div class="form-group">
                    <label for="foodtype">Foodtype:</label>
                    <input type="text" id="foodtype" class="form-control" ng-model="foodtype" placeholder="Foodtype" ng-init="foodtype = foodtruck.foodtype" />
                </div>
                <div class="form-group">
                    <label for="avgcost">Average Cost:</label>
                    <input type="number" id="avgcost" class="form-control" ng-model="avgcost" placeholder="0" ng-init="avgcost = foodtruck.avgcost" />
                </div>
                <button type="submit" class="btn btn-primary">Edit</button>
            </form>           
        </div>
    </div>
</div>
<div ng-hide="isLoggedIn()">
    <h3>You need to <a href="/#/login">Log In</a> or <a href="/#/register">Register</a> before you can add a post.</h3>
</div>