<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="page-header">
      <h1>Foodtrucks</h1>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-6 col-md-offset-3 post-card">
    <form ng-submit="searchByType()">
      <span>Search by foodtype:</span>
      <div class="input-group">
        <input type="text" class="form-control" ng-model="searchType" placeholder="Foodtype" />
        <div class="input-group-btn">
          <button type="submit" class="btn btn-default">
              <i class="glyphicon glyphicon-search"></i>
            </button>
        </div>
      </div>
    </form>
  </div>
</div>

<!--<div class="row" ng-repeat="foodtruck in foodtrucks | orderBy: '-avgcost'">-->
<div mydirective></div>
<!--</div> -->

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <form ng-submit="addFoodTruck()" ng-show="isLoggedIn()">
      <h3>Add a new foodtruck</h3>

      <div class="form-group">
        <input type="text" class="form-control" ng-model="name" placeholder="Name" />
      </div>
      <div class="form-group">
        <input type="text" class="form-control" ng-model="foodtype" placeholder="Foodtype" />
      </div>
      <div class="form-group">
        <input type="number" class="form-control" ng-model="avgcost" placeholder="Average cost" />
      </div>
      <button type="submit" class="btn btn-primary">Post</button>
    </form>
    <div ng-hide="isLoggedIn()">
      <h3>You need to <a href="/#/login">Log In</a> or <a href="/#/register">Register</a> before you can add a post.</h3>
    </div>
  </div>
</div>